.user-list table {
    border: 1px solid #D2D2D2;
}

.user-list table td,
.user-list table th,
.user-list table tr {
    border-bottom: 1px solid #D2D2D2;
    padding: 0.5rem;
}

.user-list table th {
    font-weight: 500;
}

.user-list .action .icon {
    cursor: pointer;
}

.user-items .delete-btn {
    border: 1px dashed red;
    text-align: center;
    border-radius: 5px;
    color: red;
    cursor: pointer;
}


.user-list .edit-btn {
    border: 1px dashed lightblue;
    text-align: center;
    border-radius: 5px;
    color: lightblue;
    cursor: pointer;
}

.form-edit-role-select:focus {
    outline: none;
}

.form-edit-role-select {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}