.new-form .card.title {
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: grey;
}

.new-form .card.form {
    padding: 0.5rem 1rem;
    margin: 1rem;
}


.new-form .form-layout {
    padding: 1rem;
}

.new-form .form-layout input:focus {
    outline: none;
    box-shadow: none;
}

.new-form .form-layout .btn {
    height: 3rem;
    margin-top: 3rem;
}

.new-form .preview-image-container {
    display: flex;
    gap: 10px;
}

.new-form .preview-image {
    width: 10rem !important;
    height: 8rem !important;
}

.new-form .preview-image img {
    width: 100%;
    height: 100%;
}